<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="position"> {{ position.positionTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="position">
    <b> {{ position.positionTitle }}</b>
    <p>Category: {{ position.positionCategory }}</p>
    <p>Salary: {{ position.positionSalary }}</p>

    <ion-list>
      <ion-item *ngFor="let company of position.positionCompanies">
        <b>{{company.company}}</b>
        <p style="font-size: 10px">{{company.location.city_id.city}} | {{ company.location.state_id.state}}</p>

        <ion-row [ngSwitch]= "position.fav" align-items-center justify-content-center no-margin no-padding>
            <button style="height: 25px" clear icon-only small color="dark" item-end (click)="addToFavorite(company.companyName, position)">
                <ion-icon *ngSwitchCase="false" name="star-outline"></ion-icon>
                <ion-icon *ngSwitchCase="true" name="star"></ion-icon>
            </button>
        </ion-row>
      </ion-item>
    </ion-list>
  </ion-card>


</ion-content>
