<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="position"> {{ position.positionTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="position">
    <b> {{ position.positionTitle }}</b>
    <p>Category: {{ position.positionCategory }}</p>
    <p>Salary: {{ position.positionSalary }}</p>

    <ion-list>
      <ion-item *ngFor="let company of position.positionCompanies">
        <b>{{company.company}}</b>
        <p slot="end">{{company.location.city_id.city}} | {{ company.location.state_id.state}}</p>
      </ion-item>
    </ion-list>
  </ion-card>


</ion-content>
