<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="currentCompany">{{ currentCompany.companyName }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="currentCompany">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ currentCompany.companyName }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>{{ currentCompany.companyLocation }}</p>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item *ngFor="let position of currentCompany.companyPositions">
      <b>{{ position.positionTitle }}</b>
      <ion-row [ngSwitch]= "position.fav" align-items-center justify-content-center no-margin no-padding>
            <button style="height: 25px" clear icon-only small color="dark" item-end (click)="addToFavorite(currentCompany.companyName, position)">
                <ion-icon *ngSwitchCase="false" name="star-outline"></ion-icon>
                <ion-icon *ngSwitchCase="true" name="star"></ion-icon>
            </button>
        </ion-row>
    </ion-item>
  </ion-list>
</ion-content>
